{% set constants = constants(node) %}
{% if constants is not empty %}
    <div class="card mb-4">
        <div class="card-header">Constants</div>
        <div class="card-body">
            <table class="table table-striped table-borderless">
                <colgroup>
                    <col class="flex-fill"/>
                    <col class="flex-fill"/>
                    <col class="flex-grow-1"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Visibility</th>
                    <th scope="col">Constant</th>
                    <th scope="col">Summary</th>
                </tr>
                </thead>
                <tbody>
                {% for child in constants(node)|sortByVisibility %}
                    <tr>
                        <td>
                            {% if child.visibility is same as('public') %}
                                <span class="badge badge-success">PUBLIC</span>
                            {% endif %}
                            {% if child.visibility is same as("protected") %}
                                <span class="badge badge-warning">PROTECTED</span>
                            {% endif %}
                            {% if child.visibility is same as("private") %}
                                <span class="badge badge-danger">PRIVATE</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ link(child) }}">
                                {{ child.name }}
                            </a>&nbsp;= {{ child.value }}
                        </td>
                        <td>{{ child.summary }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% set properties = properties(node) %}
{% if properties is not empty %}
    <div class="card mb-4">
        <div class="card-header">Properties</div>
        <div class="card-body">
            <table class="table table-striped table-borderless">
                <colgroup>
                    <col class="flex-fill"/>
                    <col class="flex-fill"/>
                    <col class="flex-fill"/>
                    <col class="flex-grow-1"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Modifier and Visibility</th>
                    <th scope="col">Type</th>
                    <th scope="col">Property</th>
                    <th scope="col">Summary</th>
                </tr>
                </thead>
                <tbody>
                {% for child in properties(node)|sortByVisibility %}
                    <tr>
                        <td>
                            {% if child.visibility is same as('public') %}
                                <span class="badge badge-success">PUBLIC</span>
                            {% endif %}
                            {% if child.visibility is same as("protected") %}
                                <span class="badge badge-warning">PROTECTED</span>
                            {% endif %}
                            {% if child.visibility is same as("private") %}
                                <span class="badge badge-danger">PRIVATE</span>
                            {% endif %}
                            {% if child.static %}
                                <span class="badge badge-secondary">STATIC</span>
                            {% endif %}
                        </td>
                        <td>{{ include('components/types.html.twig', { 'type': child.type, default: 'mixed' }) }}</td>
                        <td>
                            <a href="{{ link(child) }}">
                                {{ child.name }}
                            </a>
                        </td>
                        <td>{{ child.summary }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% set methods = methods(node) %}
{% if methods is not empty %}
    <div class="card mb-4">
        <div class="card-header">Methods</div>
        <div class="d-flex flex-row align-content-center border-bottom pt-2">
            <div class="flex-grow-1 align-self-end px-2">
                <ul class="nav nav-tabs border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#methods" data-toggle="table-filter" data-filter="" role="tab" aria-controls="all" aria-selected="true">All methods</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#methods" data-toggle="table-filter" data-filter-key="mod" data-filter-value="static" role="tab" aria-controls="static"
                           aria-selected="false">Static methods</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#methods" data-toggle="table-filter" data-filter-key="mod" data-filter="instance" role="tab" aria-controls="instance"
                           aria-selected="false">Instance methods</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#methods" data-toggle="table-filter" data-filter-key="mod" data-filter="abstract" role="tab" aria-controls="abstract"
                           aria-selected="false">Abstract methods</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#methods" data-toggle="table-filter" data-filter-key="mod" data-filter="deprecated" role="tab" aria-controls="deprecated"
                           aria-selected="false">Deprecated
                            methods</a>
                    </li>
                </ul>
            </div>
            <select class="visibility-filter" multiple="multiple">
                <option value="public">Public</option>
                <option value="protected">Protected</option>
                <option value="private">Private</option>
            </select>
        </div>

        <div class="card-body">
            <table class="table table-striped table-borderless" id="methods">
                <colgroup>
                    <col class="flex-fill"/>
                    <col class="flex-fill"/>
                    <col class="flex-fill"/>
                    <col class="flex-grow-1"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Modifier and Visibility</th>
                    <th scope="col">Type</th>
                    <th scope="col">Method</th>
                    <th scope="col">Summary</th>
                </tr>
                </thead>
                <tbody>
                {% for child in methods(node)|sortByVisibility %}
                    {% set filters = [child.visibility] %}
                    {% if child.static %}
                        {% set filters = filters|merge(['mod-static']) %}
                    {% else %}
                        {% set filters = filters|merge(['mod-instance']) %}
                    {% endif %}
                    {% if child.abstract %}
                        {% set filters = filters|merge(['mod-abstract']) %}
                    {% endif %}
                    {% if child.deprecated %}
                        {% set filters = filters|merge(['mod-deprecated']) %}
                    {% endif %}
                    <tr class="{{ filters|join(' ') }}">
                        <td>
                            {% if child.abstract %}
                                <span class="badge badge-secondary">ABSTRACT</span>
                            {% endif %}
                            {% if child.visibility is same as("public") %}
                                <span class="badge badge-success">PUBLIC</span>
                            {% endif %}
                            {% if child.visibility is same as("protected") %}
                                <span class="badge badge-warning">PROTECTED</span>
                            {% endif %}
                            {% if child.visibility is same as("private") %}
                                <span class="badge badge-danger">PRIVATE</span>
                            {% endif %}
                            {% if child.static %}
                                <span class="badge badge-secondary">STATIC</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ include('components/types.html.twig', {'type': child.response.type, default: 'void'}) }}
                        </td>
                        <td>
                            <a href="{{ link(child) }}">
                                {{ child.name }}
                            </a>
                            {% apply spaceless %}
                                <span>(
                                    {% for argument in child.arguments %}
                                        {%- if not loop.first -%}<span>, </span>{%- endif -%}
                                        {%- if argument.default -%}<span>[</span>{%- endif -%}
                                        {%- if argument.isVariadic -%}...{%- endif -%}
                                        {%- if argument.byReference -%}&{%- endif -%}
                                        {{ not argument.type ? 'mixed' : argument.type|route('class:short')|join('|')|raw }}
                                        ${{ argument.name }}
                                        {%- if argument.default -%}]{%- endif -%}
                                    {% endfor %}
                                    )
                                </span>
                            {% endapply %}
                        </td>
                        <td>{{ child.summary }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% if node.functions is not empty %}
    <div class="card mb-4">
        <div class="card-header">Functions</div>
        <div class="card-body">
            <table class="table table-striped table-borderless">
                <colgroup>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Summary</th>
                </tr>
                </thead>
                <tbody>
                {% for child in node.functions|default([]) %}
                    <tr>
                        <td>
                            <a href="{{ link(child) }}">
                                {{ child.name }}
                            </a>
                        </td>
                        <td>{{ child.summary }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
